{
  "presets": [
    ["@babel/preset-env", {
      "targets": [
        "last 2 versions",
        "not dead",
        "not < 2%",
        "not ie 11"
      ],
      "useBuiltIns": "entry"
    }],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "babel-plugin-styled-components",
    [
      "babel-plugin-root-import", {
      "paths": [{
        "rootPathPrefix": "~",
        "rootPathSuffix": "src"
      }]
    }]
  ],
  "env": {
    "test": {
      "plugins": ["dynamic-import-node"]
    }
  }
}